registry=https://pkgs.dev.azure.com/OITI/Legacy/_packaging/poc/npm/registry/                         
always-auth=true

; begin auth token
//pkgs.dev.azure.com/OITI/Legacy/_packaging/poc/npm/registry/:username=OITI
//pkgs.dev.azure.com/OITI/Legacy/_packaging/poc/npm/registry/:_password=dmNkbWl4aHBhNWMydGszamp6M3M2ZG9nZ29ucTJmbHljczZidTUyemdobzZtaWxlbTU1YQ==
//pkgs.dev.azure.com/OITI/Legacy/_packaging/poc/npm/registry/:email=andre.lima@oititec.com.br
//pkgs.dev.azure.com/OITI/Legacy/_packaging/poc/npm/:username=OITI
//pkgs.dev.azure.com/OITI/Legacy/_packaging/poc/npm/:_password=dmNkbWl4aHBhNWMydGszamp6M3M2ZG9nZ29ucTJmbHljczZidTUyemdobzZtaWxlbTU1YQ==
//pkgs.dev.azure.com/OITI/Legacy/_packaging/poc/npm/:email=andre.lima@oititec.com.br
; end auth token
